.text-area{
   -fx-background-color:grey;
   
	
}

.text-area .content {
    -fx-background-color: none;
	
}

.text-area:focused .content {
    -fx-background-color:   none;
	
}
.text-area .scroll-pane
    {
        -fx-hbar-policy : never;
        -fx-vbar-policy : never;
    }
    

.my-rect {
    -fx-fill: yellow;
    -fx-stroke: green;
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}